.page {
  background-image: linear-gradient(rgb(122, 225, 239), white);
}

.about-container {
  max-width: 1400px;
  box-sizing: border-box;
}

.info-text {
  font-size: 2.5rem;
  margin: 3rem 1rem;
}

.list-item {
  padding-bottom: 1rem;
}

.list-name {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

.list-info {
  margin: 0 2rem;
  font-size: 2rem;
}
